@model Hockey.Models.NhlPlayer

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhlPlayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISSigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISSigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NhlPlayerCardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhlPlayerCardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerAddDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerAddDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerJersyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerJersyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
