@model IEnumerable<Hockey.Models.NhlPlayer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhlPlayerCardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerJersyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhlPlayerCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerAddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerJersyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhlPlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NhlPlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NhlPlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
